<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402066977430-gh0loo7tjdq61jksh4rt1iingt1e4hp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402066977430-gh0loo7tjdq61jksh4rt1iingt1e4hp4</string>
	<key>API_KEY</key>
	<string>AIzaSyA6PvX2F3375EskuQTlhURQyd171dDNdpc</string>
	<key>GCM_SENDER_ID</key>
	<string>402066977430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.COVIDapp-SD</string>
	<key>PROJECT_ID</key>
	<string>seniordesign-covidapp</string>
	<key>STORAGE_BUCKET</key>
	<string>seniordesign-covidapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402066977430:ios:804c5a74adbc531c2588b7</string>
	<key>DATABASE_URL</key>
	<string>https://seniordesign-covidapp.firebaseio.com</string>
</dict>
</plist>